.DS_Store
.idea/
.vscode/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.pem
trade-page*.png

client/node_modules/
client/.next/
client/out/
client/build/
client/coverage/

exchange/target/

.env
.env.local
.env.*.local
*.env
**/.env
**/.env.local
**/.env.*.local
**/*.env

!.env.example
!**/.env.example
